/* header and nav layout */
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  color: #fff;
}

header .nav-wrapper {
  width: 100%;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1285px;
}

@media (width >= 900px) {
  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav li {
  list-style: none;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* nav logo */
header nav .nav-logo img {
  width: 243px;
  height: 65px;
}

/* sub nav */

@media (width >= 900px) {
  header nav .nav-sub-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid #fff;
    margin: 12px 0 53px 0;
    padding-bottom: 10px;
  }
  
  header nav .nav-sub-nav ul {
    display: flex;
  }

  header nav .nav-sub-nav .default-content-wrapper {
    width: fit-content;
  }

  header nav .nav-sub-nav ul li a {
    text-decoration: none;
  }

  header nav .nav-sub-nav ul li:not(:last-child) {
    margin-right: 26px;
  }
}

/* main nav */
header nav .nav-section ul {
  display: flex;
  text-transform: uppercase;
}

header nav .nav-section ul li:first-child {
  margin-right: 85px;
}

header nav .nav-section ul li a {
  text-decoration: none;
}